<h1>Welcome to Dragon Drop</h1>
<div class="all_together">
  <div class="charm_container">
    <h3>Drag Charmeleon</h3>
    <%= image_tag("charmeleon", id: "drag1", draggable: "true", ondragstart: "drag(event)") %>
  </div>
  <div id="wrapper">
    <div class="target_wrappers">
      <h3>Droppable Canvas Hosting PDF</h3>
      <canvas id="the-canvas" ondrop="drop(event)" ondragover="allowDrop(event)"></canvas>
    </div>
    <div class="target_wrappers">
      <h3>Droppable Div</h3>
      <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>
  </div>
</div>

