// Place all the styles related to the Dragons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#the-canvas {
  border:1px solid black;
}

#drag1 {
  width: 200px;
  height: auto;
}

#div1 {
  width: 200px;
  height: 200px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
