// Place all the styles related to the Dragons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 40px;
}

#the-canvas {
  border: 1px solid #aaaaaa;
}

#drag1 {
  width: 200px;
  height: 200px;
}

#div1 {
  width: 302px;
  height: 302px;
  border: 1px solid #aaaaaa;
  margin-left: 20px;
}

#wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.target_wrappers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#myCanvas {
  border: 1px solid #d3d3d3;
  z-index: 20;
}

#show canvas {
  position: absolute;
  left: 20px;
  top: 20px;
}
